:root {
    --gold: #33302a;
    --bg: #1b1e23;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 4000px;
}

/* .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url('/assets/img/bg1.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: grayscale(100px);
} */

.hero {
    position: relative;
    min-height: 100vh;
    background-color: var(--bg);
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--gold);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--gold);
    color: white;
}

.mynavbar {

}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-family: 'Sacramento', cursive;
    font-size: 3.1rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    /* font-weight: 600; */
    text-transform: uppercase;
}

.home {
    background-image: url();
}





/* media query */

/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 80%;
    }
    .simply-countdown > .simply-section {
        padding: 50px;
    }
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 75%;
    }

    .simply-countdown > .simply-section {
        padding: 40px;
        margin: 5px;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }
}

/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 70%;
    }
    .simply-countdown > .simply-section {
        padding: 30px;
        margin: 3px;
    }
    
}

/* small mobile phone */
@media (max-width: 380px) {
    html {
        font-size: 65%;
    }
}
